@charset "utf-8";

article {
  padding-top: 100px;
}

.content-box {
  margin: 0;
  margin-bottom: 50px;
}
.tabmenu-button {
  background: none;
  border-radius: 0;
  border: 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
.tabmenu-color,
.tabmenu-button:hover {
  border-bottom: 2px solid #5865f5;
}
.faqmenu-button {
  background: none;
  color: #aaa;
  font-weight: bold;
}
.faqmenu-color {
  background: #222;
  color: white;
}
.faq details {
  font-size: 1rem;

  border-bottom: 1px solid #ccc;
}
.faq details summary::marker {
  font-size: 0;
}
.faq summary span {
  color: salmon;
}

.faq summary {
  line-height: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  padding-top: 5px;
}
.faq > :first-child {
  margin-top: 30px;
}
.faq > :last-child {
  border-bottom: 0;
}
.faq details p {
  background: #efefef;
  padding: 15px 10px;
}

/* ......../ media query /.......... */

/* Desktop Device */

@media (min-width: 1366px) {
  .content-box {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  .two_btn_wraps {
    width: 1200px;
    margin: 0 auto;
  }
  .faq_btn_wraps {
    display: flex;
    justify-content: space-between;
  }

  .faqmenu-button {
    width: 250px;
  }

  .faq details summary::marker {
    font-size: 1.2rem;
    color: #222;
  }

  .faq summary {
    padding: 20px 0;
  }
  .faq summary span {
    display: inline-block;
    width: 200px;
    text-align: center;
  }
}
